# systemd service description for Flamenco Worker
# place in /etc/systemd/system/flamenco-worker.service

[Unit]
Description=Flamenco Worker
Documentation=https://flamenco.io/
After=network-online.target

[Service]
Type=simple
#ExecStartPre=/bin/mkdir -p /home/guest/local-flamenco-worker/

ExecStart=/opt/flamenco-worker/flamenco-worker -c {{ flamenco_worker_config  }}
WorkingDirectory={{ flamenco_shared_workdir }}
User="flamenco-worker"
Group=flamenco

RestartPreventExitStatus=SIGUSR1 SIGUSR2
Restart=always
RestartSec=1s

EnvironmentFile=-/etc/default/locale

[Install]
WantedBy=multi-user.target