[Unit]
Description=Flamenco Manager
Documentation=https://flamenco.io/
After=mongodb.service

[Service]
Type=simple

ExecStart=/opt/flamenco-manager/flamenco-manager
WorkingDirectory={{ flamenco_manager_workdir }}
User="flamenco-amanager"
Group=flamenco

Restart=on-failure
RestartSec=1s

EnvironmentFile=-/etc/default/locale

[Install]
WantedBy=multi-user.target